* {
    font-family: 'Courier New';
}

h1,
h3 {
    color: #b92b27;
}

.upvote {
    background-color: lightgreen;
}

#login {
    background-color: lightcoral;
}

#signup {
    background-color: lightseagreen;
}

.post a {
    background-color: #5bacba;
    text-decoration: none;
}

nav ul li a {
    color: red;
}

div>input {
    background-color: purple;
}

button:hover {
    color: white;
    background-color: black;
}

button:active {
    background-color: darkturquoise;
    color: black;
}

input[type="text"] {
    background-color: orange;
}

input[type="password"] {
    background-color: red;
}

input[type="radio"]:checked+label {
    color: red;
    font-weight: bold;
}