h1{
    border: 2px solid black;
    width: 50%;
}
#outer{
    background-color: aqua;
    border: 2px solid red;
    margin: 30px;
    height: 400px;
    width: 400px;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 2px solid black;
    margin-left: 10%; /* 10% of height and width 400px = 40px */
}