<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is Home</h1>
    <!-- EJS tags - are dynamic it will calculate expression-->
    <h3> <%= 1 + 2 %></h3>
    <h3><%= "Shashi".toUpperCase() %></h3>
    <!-- <...> above tag converting html result as string as treat as string-->
    <br>
    <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt beatae officia tempora veritatis reiciendis
    sapiente itaque. Tempore ratione, cumque illum, corporis voluptates ullam doloremque optio neque nulla maiores quo
    dicta sint voluptatibus laboriosam, culpa fuga quae voluptatum excepturi expedita quidem distinctio quos vero.
    Aperiam, ipsam commodi esse quibusdam dolorum delectus autem nemo cumque debitis dicta quidem facilis et quos
    laborum culpa qui asperiores, veniam similique praesentium optio maxime voluptates labore. Debitis enim corrupti
    impedit assumenda facere quam sequi cumque reiciendis qui placeat necessitatibus voluptas odio, eum porro,
    digni
    </p>
    <button>Click Me</button>
</body>

</html>