div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    text-align: center;
    display: inline-block;
    margin: 20px;
    border: 2px solid black;
}
#static{
    background-color: blueviolet;
    position: static;
    top: 100px;
    left: 100px;
}
#relative{
    background-color: burlywood;
    position: relative;
    top: 50px;
    left: 50px;
}
#absolute{
    background-color: gray;
    position: absolute;
    top: 50px;
    left: 50px;
}
#fixed{
    background-color: lightseagreen;
    position: fixed;
    top: 50px;
    left: 50px
}