.box{
    height: 100px;
    width: 100px;
    background-color: pink;
    border:2px solid black;
}
.one{
    background-color: aqua;
    /* z-index only work with non static or default position  */
    position: relative;
    z-index: 1;
}
.two{
    background-color: yellow;
    position: relative;
    bottom: 50px;
}